<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149936464-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-149936464-1');
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.23/moment-timezone-with-data-2012-2022.min.js"></script>
      <title>Muslim Prayer Times </title>
      <meta name="keywords" content="Hyderabad,salah,namaz,salah,salat,salaat,suhur,suhoor,fajr,sunrise,zohar,zuhr,zuhar,dhuhr,dhur,asr,asar,magrib,maghrib,iftar,iftari,isha,prayer,times,ramadan,ramadaan,fasting,egyptian general authority of survey,university of islamic sciences,umm al qura,islamic society of north america,hanafi,shafi,calculation,times,timing">
      <meta name="description" content="Prayer Times for more than 114440 cities around the world...">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="contact@timeforsalah.com">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" sizes="32x32" href="https://www.salahtimes.com/favicon-32x32.png?v=54965">
<link rel="icon" type="image/png" sizes="16x16" href="https://www.salahtimes.com/favicon-16x16.png?v=54965">
    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
		
		<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="css/nouislider.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/MAINPAGE.css">
  </head>
  <body> 
		
  <div class="main-section">

		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="https://www.timeforsalah.com/" style="font-size:1em;" >Malik Solutions</a>
	      <button class="navbar-toggler" type="button" onclick="window.location.href = 'https://www.timeforsalah.com/allcountries'">
	        <span class="oi oi-flag"></span> All Countries
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	
	          <li class="nav-item"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-ios-flag mr-2"></i> All Countries </a></li>
	          <li class="nav-item"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-logo-facebook"></i></a></li>
	          <li class="nav-item"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-logo-twitter"></i></a></li>
						<li class="nav-item"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-logo-instagram"></i></a></li>
						<li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link icon d-flex align-items-center" data-toggle="dropdown">
                <i class="ion-ios-apps mr-2"></i>
                Components
                <b class="caret"></b>
              </a>
              <div class="dropdown-menu dropdown-menu-left">
                <a href="#" class="dropdown-item"><i class="ion-ios-apps mr-2"></i> All Components</a>
                <a href="#" class="dropdown-item"><i class="ion-ios-document mr-2"></i> Documentation</a>
              </div>
            </li>
	        </ul>
	      </div>
		  </div>
	  </nav>
    <!-- END nav -->

  	<section class="hero-wrap js-fullheight">
  		<div class="container">
  			<div class="row description js-fullheight align-items-center justify-content-center">
  				<div class="col-md-8 text-center">
  					<div class="text">
  						<h1 style="margin-bottom:20%">Salah Times</h1>
  						<h4 class="mb-5">Salah timings for more than <span id = "numberOfCities" style="font-size:2em;" > <strong> 114,440  </strong> </span> cities in one place.......</h4>
							<p ><a href="https://www.timeforsalah.com/day" class="btn btn-white px-4 py-3" style="font-size:1.2em;width:80%;height:0.6%"><i class="ion-ios-time mr-2"></i>Find Timings now</a></p>
							
							<script>
							const span = document.getElementById("numberOfCities")
							let counte = 0
							const interval = setInterval(() => {
										span.innerText = counte
										counte = counte + 200
										if(counte > 114440){
											span.innerText = "114,440"
											clearInterval(interval)
											}

							},0.3)
							</script>


  					</div>
  				</div>
  			</div>
  		</div>
		</section>
		

		<div class="containerthis" style="margin-top:5%" id="bigdiv">
		<input type="text" placeholder="Search Countries..." name="searchbar" id="filter_users" style="border:1px solid black"/>

		<ul id="users-list">
		<li style="margin-top:3%;margin-bottom:3%;"> sample </li>
		</ul>
	</div>

		<style>
      	.containerthis{
				margin-top:5%;margin-left:5%;margin-right:5%;height: 500px;margin-bottom: 16%;
				overflow-y: auto;

			}
		#filter_users{
  width:100%;
  padding:10px;
}

#users-list{
  margin:0;
  padding:0;
}

#users-list li{
  list-style:none;
  padding:10px;
  color:black;
  font-weight: 500;
  margin:5px 0;
  border: 1px solid #e4e4e4;
}
		</style>
                      <% if(allcountries){ %>
		<script>
		var users = [
  
	<% allcountries.forEach(r => { %>
	       " <%= r %> ",
	<% }) %>
	
  'Zimbabwe'
];

ul = document.getElementById("users-list");

var render_lists = function(lists){
	var li = "";
	
  for(index in lists){
		li += `<a href = "https://www.timeforsalah.com/city?name=${lists[index]}">` + "<li>" +  lists[index] + "</li>"  + "<a/>";
	
		
  }
  ul.innerHTML = li;
}

render_lists(users);

// lets filters it
input = document.getElementById('filter_users');

var filterUsers = function(event){
  keyword = input.value.toLowerCase();
  filtered_users = users.filter(function(user){
        user = user.toLowerCase();
       return user.indexOf(keyword) > -1; 
  });
  
  render_lists(filtered_users);
}

input.addEventListener('keyup', filterUsers);

                            
		</script>

                                                <% } %>


                                      
                                                <% if(allcountrieskestates){ %>


                    <script>
                      document.getElementsByName('searchbar')[0].placeholder='Search cities...';

                    var users = [

                    <% allcountrieskestates.forEach(r => { %>
                            " <%= r %> ",
                    <% }) %>
                    
                    'Zimbabwe'
                  ];
                  
                  ul = document.getElementById("users-list");
                  
                  var render_lists = function(lists){
                    var li = "";
                    
                    for(index in lists){
                      li += `<a href = "https://www.timeforsalah.com/findingnamaztiming?search=${lists[index].trim()}">` + "<li>" +  lists[index] + "</li>"  + "<a/>";
                    
                      
                    }
                    ul.innerHTML = li;
                  }
                  
                  render_lists(users);
                  
                  // lets filters it
                  input = document.getElementById('filter_users');
                  
                  var filterUsers = function(event){
                    keyword = input.value.toLowerCase();
                    filtered_users = users.filter(function(user){
                          user = user.toLowerCase();
                          return user.indexOf(keyword) > -1; 
                    });
                    
                    render_lists(filtered_users);
                  }
                  
                  input.addEventListener('keyup', filterUsers);
                  
                                              
                      </script>
                  

                                                  <% } %>


                                                  <% if(quran){ %>
                                                    <script>document.getElementById("bigdiv").style.display = "none"</script>


                        <div
                        id="hasVotedAlreadyErrorMsg"
                        class="card-panel sometthing"
                        style="margin: 5% 10%"
                    >
                      <span style="font-size: 2em;font-weight: 500;color:black;margin-bottom: 5%" class=" text-darken-2 center-block">Quran Verse : </span> <br>
                        <span style="font-size: 2em;color:red;" class="red-text text-darken-2 center-block" id = "location">
                            <%= quran.verse%>
                            
                            </span> <br>
                        <span style="font-size: 2em;color:black;" class="red-text text-darken-2 center-block" id = "location">
                            <%= quran.translation %> 
                            
                        </span>
                        <script> console.log("<%= quran.translation.length %>") </script>
                    <a class="waves-effect waves-light btn" onclick="window.location.href = 'https://www.timeforsalah.com'" style="margin-top: 9%">Home</a>	
                    </div>




                                                    <% } %>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/nouislider.min.js"></script>
  <script src="js/moment-with-locales.min.js"></script>
  <script src="js/bootstrap-datetimepicker.min.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>